:root {
    --primary: #1F2937;
    --mainText: #F9FAF8;
    --secondary: #E5E7EB;
    --btnColor: #3882F6;
    --infoText: #1F2937;
}

html{
    background-color: #2F2230
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    background-color: var(--primary);
    justify-content: flex-end;
    align-items: center;
    position: sticky;
}

.navbar__logo{
    /* min-width: 350px; */
    /* flex: 1; */
    /* text-align: start; */
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-left: 27rem;
    margin-right: auto;
    color: var(--mainText);
}

.navbar nav{
    margin-right: 27rem;
}

.navbar__links li{
    display: inline-block;
    list-style: none;
}

.navbar__links a{
    text-decoration: none;
    color: var(--secondary);
    margin-left: 30px;
    padding: 10px;
}

.signUp--top{
    display:flex;
    background-color: var(--primary);
    height: 30.0625rem;
    justify-content: space-between
}

.signUp__div{
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 27rem;
    width: 29rem;
    height: 16rem;
}

.signUp__header{
    font-size: 48px;
    font-weight: 700;
    color: var(--mainText);
}

.signUp__p{
    color: var(--secondary);
    margin: 10px 0px;
    font-size: 18px;
}


.signUp_button{
    background-color: var(--btnColor);
    color: var(--mainText);
    font-size: 17px;
    font-weight: bolder;
    border-radius: 7px;
    border-width: 0px;
    width: 120px;
    height: 37px;
    margin-top: 5px;
}

.signUp_button--bottom{
    border-style: solid;
    border-width: 3px;
}

.signUp_img{
    margin-top: 10vh;
    width: 35rem;
    height: 16rem;
    margin-right: 27rem;
    object-fit: cover;
}



.randomInfo{
    display:flex;
    height: 30.0625rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--mainText);
}

.randomInfo div{
    width: 150px;
    height: 150px;
    margin-right: 2.5rem;
    margin-bottom: 7em;
}

.randomInfo h2{
    display: block;
    width: 100%;
    height: 10%;
    font-size: 36px;
    font-weight: bolder;
    color: var(--primary);
    text-align: center;
    margin-top: 30px;
}

.randomInfo img{
    display: inline-block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--btnColor);
    border-radius: 10px;
    /* margin: 0 10%; */
}

.randomInfo span{
    display: block;
    text-align: center;
    font-size: 15px;
    color: grey;
    padding-top: 5px;
}

.quote{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    height: 30.0625rem;
    justify-content: center;
    align-items: center;
}

.quote h3 {
    color: var(--infoText);
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.quote p{
    margin-left: 30%;
    font-size: 20px;
    font-weight: bold;
}

.signUp--bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30.0625rem;
    background-color: var(--mainText);
}

.signUp--bottom__div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btnColor);
    width: 60%;
    height: 10rem;
    border-radius: 10px;
}

.signUp--bottom__div strong{
    display: block;
    width: 60%;
    font-size: 24px;
    color: var(--mainText);
}

#span{
    font-size: 16px;
    font-weight: 400;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 6rem;
}

footer p {
    color: var(--mainText);
}

